*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'century gothic';
    text-decoration: none;
    list-style: none;
    
}
.owl-dots{
   
    margin-left: 40%;
    position: absolute;
    top: 100px;

    float: left;
}
/* inicio DO MEU cabeçalho */ 
    @media screen and (max-width: 400px){
        header{
            width: 100%;
            height: 7vh;
            background-color: rgb(255, 255, 255);
        }
        
        .img-logo{
            margin: 10px;
            width: 60px;
        
        }
        nav ul{
            
           justify-content: center;
            display: flex;
            flex-direction: row;
            margin-right: 1vw;
            margin-top: -2rem;
            
        }
        
        li a{   
            color: rgb(252, 101, 0);
            text-decoration: none;
            margin-left: 35px;
        }
        
        li a:hover{
            color: rgb(248, 134, 58);
        }
        
/* final DO MEU cabeçalho */ 


/* MEU MAIN */


.sobre-impera-brindes{
    
    height: 45vh;
    
    
}
.logo-titulo{
   
    margin: 10px 30%;
    display: flex;
    width: 150px;
}

.sobre-impera-brindes p{
 
    padding: 0px 15px;
    text-align: center;
    margin: 0px 0 15px 0;
    font-weight: 700;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}
/* FINAL MEU MAIN */

/*MInha section produçoes*/

.conteiner h2{
    margin-top: 30px;
    font-size: 48px;
    text-align: center;
    color: #212121;
}

.conteiner p{
    line-height: 25px;
    text-align: center;
    color: #757575;
}



.todos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-produto1{
    margin: 30px 28px;
    display: flex;
    flex-direction: row;
  
   height: 24vh;
   width: 100%;
}

.caixa-produto img{
    width: 150px;
    height: 150px;
}
.caixa-produto1 img{
    width: 150px;
    height: 150px;
}

.caixa-produto{
    overflow: hidden;
    background-color: black;
    width: 150px;
    height: 150px;
}
.caixa-produto1{
    overflow: hidden;
    margin-left: 40px;
    background-color: rgb(0, 86, 245);
    width: 150px;
    height: 150px;
}


.btn-vertodos{
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    border-style: none;
    margin-left: 30%;
    margin-bottom: 30px;
    background-color: rgb(56, 56, 56);
}

/*MInha section produçoes*/




/* INICIO DO MEU FOOTER */ 

footer{
    
    display: flex;
    height: 23vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(255,168,69,1) 0%, rgba(255,158,0,1) 38%, rgba(255,116,0,1) 100%);
}

.logo-footer{
    display: none;
    opacity: 0.80;
    width: 30%;
 
}

.logo-footer img{
    
    display: flex;
    justify-content: center;
    width: 15vw;
    margin: 8% 25%;
}

.contato-rodape{
    text-align: left;
    margin-left: 1rem;
    width: 70%;
}

.texto-rodepe{
    margin-top: 3rem;
}

footer h2 {
    color: black;
}

footer p{
    color: black;
}

footer i{
    color: rgb(97, 47, 47);
    margin-right: 1rem;
}

footer a{
    text-decoration: none;
    color: black;
}

.contato-a-rodape{
    display: flex;
    flex-direction: column;
}

.icon-mobile{
    margin-top: -15px;
}

.local{
    font-size: 15px;
}
}
